<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/donate.css')}}">
</head>

<div class="container">
    <div class="text">
        Contact us Form
    </div>
    <form action="{{url_for('index')}}" id="usrform" method='post'>
        <div class="form-row">
            <div class="input-data">
                <input type="text" required  name="firstname">
                <div class="underline"></div>
                <label for="">First Name</label>
            </div>
            <div class="input-data">
                <input type="text" required name="lastname">
                <div class="underline"></div>
                <label for="">Last Name</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                <input type="number" required  name="donate">
                <div class="underline"></div>
                <label for="">Amount to donate</label>
            </div>
            <div class="input-data">
                <input type="text" required  name="title">
                <div class="underline"></div>
                <label for="">Message title:</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data textarea">
                <textarea rows="8" cols="80" required name="message"></textarea>
                <br />
                <div class="underline"></div>
                <label for="">Write your message</label>
                <br />
                <input type="hidden" name="goal" value="{{goal}}">
                <div class="form-row submit-btn">
                    <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="submit">
                    </div>
                </div>
    </form>
</div>
</body>

</html>