<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wildvine - Give Love for Saving World Animals</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href=".{{url_for('static',filename='css/style.css')}}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Roboto:wght@300;400;500;700&family=Oswald:wght@600&display=swap"
    rel="stylesheet">

  <style>
    .hero {
      background-image: url("{{url_for('static',filename='images/forest-fire-banner.jpg')}}");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left;
      min-height: 780px;

      height: inherit;
      width: inherit;
      object-fit: fill;
      /* filter: brightness(100%); */
    }
  </style>
</head>

<body>
  <!-- <div data-overlay class="overlay"></div> -->
  <dialog data-modal class="modal">

    <div class="form">
      <form action="/" method="post">
        <div class="container">
          <p>Name:</p>
          <input type="text" name="name" id="name">
          <br>
        </div>
      </form>
      <button data-close-modal class="btn btn-primary">Close</button>


    </div>
  </dialog>

  <!-- 
    - #HEADER
  -->

  <header class="header" data-header>
    <div class="container">

      <h1>
        <a href="#" class="logo">PyroInsights</a>
      </h1>

      <!-- <select name="language" class="lang-switch">

        <option value="english">English</option>
        <option value="french">French</option>
        <option value="spanish">Spanish</option>.

      </select> -->

      <button class="nav-open-btn" aria-label="Open Menu" data-nav-open-btn>
        <ion-icon name="menu-outline"></ion-icon>
      </button>

      <nav class="navbar" data-navbar>

        <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
          <ion-icon name="close-outline"></ion-icon>
        </button>

        <a href="#" class="logo">Wildvine</a>

        <ul class="navbar-list">

          <li>
            <a href="#home" class="navbar-link" data-nav-link>
              <span>Home</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#about" class="navbar-link" data-nav-link>
              <span>About</span>

              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#donate" class="navbar-link" data-nav-link>
              <span>Donate</span>
              <ion-icon name="chevron-forward-outline" aria-hidden="true"></ion-icon>
            </a>
          </li>

        </ul>

      </nav>

      <div class="header-action">

        <!-- <button class="search-btn" aria-label="Search">
          <ion-icon name="search-outline"></ion-icon>
        </button> -->
        <a href="#donate">

          <button class="btn btn-primary">
            <span>Donation</span>

            <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
          </button>
        </a>

      </div>

    </div>
  </header>



  <main>
    <article>

      <!-- 
        - #HERO
      -->

      <section class="hero" id="home">
        <div class="container">

          <p class="section-subtitle">
            <img src="{{url_for('static',filename='images/subtitle-img-white.png')}}" width="32" height="7"
              alt="Wavy line">

            <span>Welcome to PyroInsights</span>
          </p>

          <h2 class="h1 hero-title">
            Give Love for Saving <strong>Forests and Animals</strong>
          </h2>

          <p class="hero-text">
            Join us today: Give love for saving forests and animals, your donation makes a world of difference.
          </p>
          <a href="#donate">

            <button class="btn btn-primary">
              <span>Donation</span>
              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
            </button>
          </a>


        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="section features">
        <div class="container">

          <ul class="features-list">

            <li class="features-item">
              <div class="item-icon">
                <ion-icon name="shield-checkmark-outline"></ion-icon>
              </div>

              <div>
                <h3 class="h4 item-title">Safe Shelter</h3>

                <p class="item-text">
                  Provide hope: support safe shelters, giving comfort and protection to those in need.
                </p>
              </div>
            </li>

            <li class="features-item">
              <div class="item-icon">
                <ion-icon name="water-outline"></ion-icon>
              </div>

              <div>
                <h3 class="h4 item-title">Safe Water</h3>

                <p class="item-text">
                  Empower change: contribute to safe water initiatives, transforming lives with each drop.
                </p>
              </div>
            </li>

            <li class="features-item">
              <div class="item-icon">
                <ion-icon name="leaf-outline"></ion-icon>
              </div>

              <div>
                <h3 class="h4 item-title">Ecology Save</h3>

                <p class="item-text">
                  Champion the planet: contribute to saving ecology, preserving the intricate balance of life.
                </p>
              </div>
            </li>

            <li class="features-item">
              <div class="item-icon">
                <ion-icon name="snow-outline"></ion-icon>
              </div>

              <div>
                <h3 class="h4 item-title">Environment</h3>

                <p class="item-text">
                  Act now, secure our tomorrow: stand for the environment, the cornerstone of our shared future.
                </p>
              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about" id="about">
        <div class="container">

          <div class="about-banner">

            <h2 class="deco-title">About Us</h2>

            <img src="./assets/images/deco-img.png" width="58" height="261" alt="" class="deco-img">

            <div class="banner-row">

              <div class="banner-col">
                <img src="{{url_for('static',filename='images/about-banner-1.jpg')}}" width="315" height="380"
                  loading="lazy" alt="Tiger" class="about-img w-100">

                <img src="{{url_for('static',filename='images/about-banner-2.jpg')}}" width="386" height="250"
                  loading="lazy" alt="Panda" class="about-img about-img-2 w-100">
              </div>

              <div class="banner-col">
                <img src="{{url_for('static',filename='images/about-banner-3.jpg')}}" width="250" height="277"
                  loading="lazy" alt="Kangaroo" class="about-img about-img-3 w-100">

                <img src="{{url_for('static',filename='images/about-banner-4.jpg')}}" width="315" height="380"
                  loading="lazy" alt="Deer" class="about-img w-100">
              </div>

            </div>

          </div>

          <div class="about-content">

            <p class="section-subtitle">
              <img src="{{url_for('static',filename='images/subtitle-img-orange.png')}}" width="32" height="7"
                alt="Wavy line">

              <span>Why Choose Us</span>
            </p>

            <h2 class="h2 section-title">
              Rise Your Hand to Save <strong>World Animals Life</strong>
            </h2>

            <ul class="tab-nav">

              <li>
                <a href="#about" class="" id=""><button class="tab-btn active">Our Mission</button></a>
              </li>

            </ul>

            <div class="tab-content">

              <p class="section-text">
                At PyroInsights, our vision is to shed light on the intricate stories of past wildfires that have shaped
                our landscapes and communities. Through rigorous research and comprehensive analysis, we aim to uncover
                the underlying reasons behind these devastating events, ranging from natural factors to human
                activities. By delving into the past, we strive to understand the complexities of fire's role in our
                ecosystems and the lessons we can learn for the future. But we don't stop there – our commitment extends
                to making a positive impact. A portion of our proceeds goes towards supporting charitable initiatives
                dedicated to wildfire prevention, community resilience, and habitat restoration. We believe that by
                exploring the past and giving back to those affected, we can pave the way for a safer and more
                sustainable tomorrow.
              </p>

              <ul class="tab-list">

                <li class="tab-item">
                  <div class="item-icon">
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </div>

                  <p class="tab-text">Charity For Foods</p>
                </li>
<!-- 
                <li class="tab-item">
                  <div class="item-icon">
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </div>

                  <p class="tab-text">Charity For Education</p>
                </li> -->

                <li class="tab-item">
                  <div class="item-icon">
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </div>

                  <p class="tab-text">Charity For Water</p>
                </li>

                <li class="tab-item">
                  <div class="item-icon">
                    <ion-icon name="checkmark-circle"></ion-icon>
                  </div>

                  <p class="tab-text">Charity For Medical</p>
                </li>

              </ul>

              <button class="btn btn-secondary">
                <span>Learn More Us</span>

                <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
              </button>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #CTA
      -->

      <section class="section cta">
        <div class="container">
          <script type="text/javascript" src="script.js"></script>
          <div class="cta-content-hidden">
            <h2 class="h2 section-title">4143+ New Trees Planted</h2>

            <button class="btn btn-outline">
              <span>Help us</span>

              <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
            </button>
          </div>

          <!-- <figure class="cta-banner">
            <img src="./assets/images/cta-banner.jpg" width="520" height="228" loading="lazy" alt="Fox"
              class="img-cover">
          </figure> -->

        </div>
      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service" id="service" style="background-image: url('./assets/images/service-map.png')">
        <div class="container">

          <p class="section-subtitle">
            <img src="{{url_for('static',filename='images/subtitle-img-orange.png')}}" width="32" height="7"
              alt="Wavy line">

            <span>What We Do</span>
          </p>

          <h2 class="h2 section-title">
            We Work Differently to <strong>keep The World Safe</strong>
          </h2>

          <ul class="service-list-hidden">

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <ion-icon name="leaf-outline"></ion-icon>
                </div>

                <h3 class="h3 card-title">Plant Trees</h3>

                <p class="card-text">
                  Cultivating a thriving tomorrow by planting the seeds of change, one tree at a time.
                </p>

                <a href="#" class="btn-link">
                  <span>Read More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <ion-icon name="earth-outline"></ion-icon>
                </div>

                <h3 class="h3 card-title">Save Ecology</h3>

                <p class="card-text">
                  Championing the cause of forest preservation to secure a greener future for generations to come
                </p>

                <a href="#" class="btn-link">
                  <span>Read More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <ion-icon name="flower-outline"></ion-icon>
                </div>

                <h3 class="h3 card-title">Spread Awareness</h3>

                <p class="card-text">
                  Through dedicated care and compassion, we rehabilitate animals, helping them heal and thrive anew.
                </p>

                <a href="#" class="btn-link">
                  <span>Read More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

            <li>
              <div class="service-card">

                <div class="card-icon">
                  <ion-icon name="boat-outline"></ion-icon>
                </div>

                <h3 class="h3 card-title">Rehabilitate Animals</h3>

                <p class="card-text">
                  "Through dedicated care and compassion, we rehabilitate animals, helping them heal and thrive anew."
                </p>

                <a href="#" class="btn-link">
                  <span>Read More</span>

                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>

              </div>
            </li>

          </ul>

        </div>
      </section>





      <!-- 
        - #DONATE
      -->

      <section class="section donate" id="donate">
        <div class="container">

          <ul class="donate-list">


            {% for key,value in goal_list.items() %}
            <li>
              <div class="donate-card">

                <figure class="card-banner">
                  {% set imgname = value[3] %}

                  <img src="{{url_for('static',filename=imgname)}}" width="520" height="325" loading="lazy"
                    alt="Elephant" class="img-cover">
                </figure>

                <div class="card-content">

                  <div class="progress-wrapper">
                    <p class="progress-text">
                      <span>Raised</span>

                      <data value="{{raised}}">${{value[1]}}</data>
                    </p>
                    <data class="progress-value" value="{{value[1] // value[0] * 100}}">{{value[1] / value[0] *
                      100}}%</data>
                  </div>

                  <!-- <div class="progress-box">
                    <div class="progress" ,style=" height: 6px;
                    width: {{value[1] // value[0] * 100}}%;
                    background-color: var(--orange);
                    border-radius: inherit;"></div>
                  </div> -->

                  <h3 class="h3 card-title">{{key}}</h3>

                  <div class="card-wrapper">

                    <p class="card-wrapper-text">
                      <span>Goal</span>

                      <data class="green" value="">{{value[0]}}</data>
                    </p>

                    <p class="card-wrapper-text">
                      <span>Raise</span>

                      <data class="yellow" value="{{raised}}">{{value[1]}}</data>
                    </p>

                    <p class="card-wrapper-text">
                      <span>To Go</span>

                      <data class="cyan" value="{{left}}">{{value[2]}}</data>
                    </p>

                  </div>
                  <a href="{{url_for('donate')}}?goal={{key.replace(' ','+')}}">
                    <button class="btn btn-secondary" data-open-modal>
                      <span>Donation</span>

                      <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
                    </button>
                  </a>
                </div>

              </div>
            </li>
            {% endfor %}
          </ul>

        </div>
      </section>





      <!-- 
        - #TESTIMONIALS
      -->

      <section class="testi">

        <div class="testi-content">

          <p class="section-subtitle">
            <img src="{{url_for('static',filename='images/subtitle-img-orange.png')}}" width="32" height="7"
              alt="Wavy line">

            <span>Our Testimonials</span>
          </p>

          <h2 class="h2 section-title">
            What People Say About <strong>Our Organization</strong>
          </h2>
          {% for person,text in donatees.items() %}

          <div class="testi-card">

            <figure class="card-avatar">
              <img src="{{url_for('static',filename='images/blank-pfp.webp')}}" width="60" height="60" loading="lazy"
                alt="David S. Neuman">
            </figure>

            <div>
              <blockquote class="testi-text">
                <strong>{{text[0]}}</strong>
                {{text[1]}}
                <h3 class="testi-name"> -{{person}}
                  <p class="testi-title">Donatee</p>
                </h3>

              </blockquote>
            </div>

          </div>

          {% endfor %}

        </div>

        <figure class="testi-banner">
          <img src="{{url_for('static',filename='images/side-banner-donations.jpg')}}" width="960" height="846"
            loading="lazy" alt="Rhinoceros" class="img-cover">
        </figure>

      </section>


    </article>
  </main>





  <!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="footer-list">

        <li>
          <a href="#" class="footer-link">Terms of use</a>
        </li>

        <li>
          <a href="#" class="footer-link">Privacy & Policy</a>
        </li>

      </ul>

      <p class="copyright">
        Copyright 2022 <a href="#" class="copyright-link">PyroInsights</a>. All Rights Reserved.
      </p>

    </div>
  </footer>





  <!-- 
    - custom js link
  -->
  <script src="{{url_for('static',filename='js/script.js')}}"></script>

  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>