{% for key,value in goal_list.items() %}
<li>
  <div class="donate-card">

    <figure class="card-banner">
      <img src="{{url_for('static',filename='{{value[3]}}')}}" width="520" height="325" loading="lazy" alt="Elephant"
        class="img-cover">
    </figure>

    <div class="card-content">

      <div class="progress-wrapper">
        <p class="progress-text">
          <span>Raised</span>

          <data value="{{raised}}">$256</data>
        </p>

        <data class="progress-value" value="83">83%</data>
      </div>

      <div class="progress-box">
        <div class="progress"></div>
      </div>

      <h3 class="h3 card-title">{{key[0]}}</h3>

      <div class="card-wrapper">

        <p class="card-wrapper-text">
          <span>Goal</span>

          <data class="green" value="">{{value[0]}}</data>
        </p>

        <p class="card-wrapper-text">
          <span>Raise</span>

          <data class="yellow" value="{{raised}}">{{value[0]}}</data>
        </p>

        <p class="card-wrapper-text">
          <span>To Go</span>

          <data class="cyan" value="{{left}}">{{value[0]}}</data>
        </p>

      </div>

      <button class="btn btn-secondary">
        <span>Donation</span>

        <ion-icon name="heart-outline" aria-hidden="true"></ion-icon>
      </button>

    </div>

  </div>
</li>
{% endfor %}